  #  WEB SCRAPING – ASSIGNMENT 2

Project batch : DS2401                                                                                                          
Name : Radha Kulkarni

In [89]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')
import time
import re

Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and
salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [2]:
driver=webdriver.Chrome()
driver.get('https://www.naukri.com/')

In [9]:
designation=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input')
designation.send_keys('Data Analyst')

In [10]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[6]')
search.click()

In [13]:
location_filter=driver.find_element(By.XPATH,'/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
location_filter.click()

In [12]:
salary=driver.find_element(By.XPATH,'/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
salary.click()

In [17]:
# scraping job title
Jobtitle=[]
i=0

title_tag=driver.find_elements(By.XPATH,'//a[@class="title "]')
for tag in title_tag:
    if i>=10:
        break
    Jobtitle.append(tag.text.strip())
    i+=1

In [19]:
#scraping job location
joblocations=[]
i=0

location_tag=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for tag in location_tag:
    if i>=10:
        break
    joblocations.append(tag.text.strip())
    i+=1
    
#scraping company_name

companyname=[]
i=0

name_tag=driver.find_elements(By.XPATH,'//span[@class=" comp-dtls-wrap"]//a[1]')
for name in name_tag:
    if i>=10:
        break
    companyname.append(name.text.strip())
    i+=1
    
#scraping experience

experiencerequired=[]
i=0

experience_tag=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for tag in experience_tag:
    if i>=10:
        break
    experiencerequired.append(tag.text.strip())
    i+=1

In [24]:
len(Jobtitle),len(joblocations),len(companyname),len(experiencerequired)

(10, 10, 10, 10)

In [25]:
Jobs=pd.DataFrame({'Jobtitle':Jobtitle,'Job_location':joblocations,'Company_name':companyname,'Experience_required':experiencerequired})
Jobs

,Jobtitle,Job_location,Company_name,Experience_required
0,Data Analyst,"Noida, Uttar Pradesh",Core Minds Tech Solutions,2-4 Yrs
1,Data Analyst (Informatica),"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",KPI Partners,2-5 Yrs
2,Data Analyst,Noida,Sumo Logic,1-3 Yrs
3,Data Analyst,"Gurugram, Haryana",Shankheshwar Placement Services,2-4 Yrs
4,Data Analyst,Gurugram,ITC Infotech,2-5 Yrs
5,Data Analyst,Gurugram,Redian Software,3-5 Yrs
6,Data Analyst,"New Delhi, Delhi",National Skill Development Corporation (NSDC),3-5 Yrs
7,Data Analyst,Noida,Ericsson,2-5 Yrs
8,Data Analyst,New Delhi,Demos Project,3-5 Yrs
9,Data Analyst,"New Delhi, Delhi",Excitel Broadband,2-5 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the
job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [16]:
driver=webdriver.Chrome()
driver.get('https://www.shine.com/')

In [18]:
designation=driver.find_element(By.XPATH,'/html/body/div/div[2]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[1]/ul/li[1]/div/input')
designation.send_keys('Data analyst')

In [19]:
location=driver.find_element(By.XPATH,'/html/body/div/div[2]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [20]:
search=driver.find_element(By.XPATH,'/html/body/div/div[2]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[2]/div/button')
search.click()

In [13]:
job_title=[]
i=0
 
title_tag=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]//a')
for tag in title_tag:
    if i>=10:
        break
    job_title.append(tag.text)
    i+=1

In [44]:
job_locations=[]
i=0

location_tag=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for tag in location_tag:
    if i>=10:
        break
    result=tag.text.split('\n')[0]    
    job_locations.append(result) 
    i+=1

In [32]:
company_name=[]
i=0
name_tag=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]//span')
for tag in name_tag:
    if i>=10:
        break
    company_name.append(tag.text) 
    i+=1

In [35]:
experience_required=[]
i=0

experience_tag=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for tag in experience_tag:
    if i>=10:
        break
    experience_required.append(tag.text.strip())
    i+=1

In [48]:
len(job_title),len(job_locations),len(company_name),len(experience_required)

(10, 10, 10, 10)

In [47]:
Job=pd.DataFrame({'Job_title':job_title,'Job_location':job_locations,'Company_name':company_name,'Experience_required':experience_required})
Job

,Job_title,Job_location,Company_name,Experience_required
0,Data Analyst,Bangalore,sahast sales corporation,12 to 22 Yrs
1,Clinical Data Analyst,Bangalore,techno endura,0 to 1 Yr
2,Data Analyst,Bangalore,sahast sales corporation,12 to 22 Yrs
3,Hiring For Data Analyst,Bangalore,radhika enterprises,0 to 4 Yrs
4,Clinical Data Analyst,Bangalore,techno endura,0 to 1 Yr
5,Data Executive karnataka,Bangalore,v-tech data outsourcing,0 to 1 Yr
6,Lead Data Analyst,Bangalore,ara resources private limited,4 to 9 Yrs
7,Data Analyst,Bangalore,diraa hr services hiring for mncs,0 to 1 Yr
8,Technical Data Architect,Bangalore,uprighthc solutions private limited,10 to 20 Yrs
9,Oracle Utilities (customer care & Billing) CC&...,Bangalore,ltimindtree limited,5 to 9 Yrs

Q3. Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
    https://www.flipkart.com/apple-iphone-11-black-64-gb/product-
    reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=F
    LIPKART                                                                                                                         As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [87]:
driver=webdriver.Chrome()
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [88]:
Rtng=[]
start=0
end=10

for page in range (start,end):
    rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for tag in rating_tag:
        Rtng.append(tag.text)
    next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [154]:
review_sumary=[]
start=0
end=10

for page in range(start,end):
    summary_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for tag in summary_tag:
        review_sumary.append(tag.text)
    next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(10)

In [155]:
Ful_review=[]
start=0
end=10

for page in range(start,end):
    review_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for tag in review_tag:
        Ful_review.append(tag.text)
    next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [156]:
len(Rtng),len(review_sumary),len(Ful_review)

(100, 100, 100)

In [157]:
Reviews=pd.DataFrame({'Rating':Rtng,'review_summary':review_sumary,'Full_review':Ful_review})
Reviews

,Rating,review_summary,Full_review
0,5,Worth every penny,Feeling awesome after getting the delivery of ...
1,5,Best in the market!,Good Camera
2,5,Fabulous!,Super🔥 and good performance 👌❤️
3,5,Terrific,Very very good
4,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
...,...,...,...
95,5,Super!,Good product 👌I love iPhone
96,5,Fabulous!,It’s very good battery life and display and vi...
97,5,Terrific purchase,Value for money 🖤🖤
98,5,Must buy!,"Go for iPhone 11 , if confused between iPhone ..."
99,5,Highly recommended,Awesome Battery Life...Camera clarity is too g...

Q4: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search
field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the above attributes.

In [73]:
driver=webdriver.Chrome()
driver.get('https://www.flipkart.com/')

In [74]:
input=driver.find_element(By.XPATH,'//input[@class="Pke_EE"]')
input.send_keys('Sneakers')

In [78]:
brands=[]
start=0
end=3
i=0

for page in range(start,end):
    brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for tag in brand_tag:
        if i>=100:
            break
        brands.append(tag.text)
        i+=1
    next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_page.click()
    time.sleep(3)

In [80]:
product_description=[]
start=0
end=3
i=0

for page in range(start,end):
    description_tag=driver.find_elements(By.XPATH,'//div[@class="_2B099V"]//a[1]')
    for tag in description_tag:
        if i>=100:
            break
        product_description.append(tag.text)
        i+=1
    next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_page.click()
    time.sleep(3)

In [82]:
price=[]
start=0
end=3
i=0

for page in range(start,end):
    price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for tag in price_tag:
        if i>=100:
            break
        price.append(tag.text)
        i+=1
    next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_page.click()
    time.sleep(3)

In [83]:
len(brands),len(product_description),len(price)

(100, 100, 100)

In [84]:
Sneakers=pd.DataFrame({'Brand':brands,'Product_description':product_description,'Price':price})
Sneakers

        Brand                                Product_description   Price
0        aadi  Synthetic Leather |Lightweight|Comfort|Summer|...    ₹399
1       asian  Tarzan-03 Black Sneakers,Canvas,Loafers,Stylis...    ₹682
2    URBANBOX  Trending Stylish Casual Outdoor Shoes For Men ...    ₹299
3   Deals4you                                 Sneakers For Women    ₹439
4    RED TAPE  Casual Sneaker Shoes for Men | Soft Cushioned ...  ₹1,219
..        ...                                                ...     ...
95   RED TAPE  Synthetic Leather |Lightweight|Comfort|Summer|...    ₹299
96      asian  ( by GO21 ) Soft Insole, Slip-Resistance|Walki...  ₹1,073
97  RUN SEVEN  Tarzan-03 Black Sneakers,Canvas,Loafers,Stylis...    ₹746
98     BRUTON  Sneaker Casual Shoes For Men | Soft Cushion In...  ₹1,079
99   HOTSTYLE              Canvas shoes for Men Sneakers For Men    ₹295

[100 rows x 3 columns]

Q5: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU
    Type filter to “Intel Core i7” as shown in the below image:
    After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [158]:
driver=webdriver.Chrome()
driver.get('http://www.amazon.in/')

In [159]:
enter=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
enter.send_keys('Laptop')

In [160]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [161]:
Filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/div[19]/span')

In [163]:
cpu_type=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[19]/span/span[9]/li/span/a/span')
cpu_type.click()

In [32]:
Title=[]
i=0

title_tag=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for tag in title_tag:
    if i>=10:
        break
    Title.append(tag.text)
    i+=1

In [164]:
Ratngs=[]
i=0

rating_tag = driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')
for tag in rating_tag:
    if i>=10:
        break                            
    Ratngs.append(tag.text)
    i+=1

In [172]:
Prices=[]
i=0

price_tag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for tag in price_tag:
    if i>=10:
        break
    Prices.append(tag.text)
    i+=1

In [173]:
len(Title),len(Ratngs),len(Prices)

(10, 10, 10)

In [174]:
Laptop=pd.DataFrame({'Title':Title,'Ratings':Ratngs,'Price':Prices})
Laptop

                                               Title Ratings     Price
0  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...     459    59,990
1  ASUS Creator Series Vivobook 14X OLED (2023), ...      88    49,990
2  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...     459    62,990
3  HP Pavilion X360 11th Gen Intel Core i7 14" (3...      88    49,990
4  Lenovo IdeaPad Slim 3 Intel Core i7 12th Gen 1...     229    62,990
5  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...       4    49,990
6  asus Zenbook 14X OLED Business Laptop | 14.5''...       2    74,990
7  Acer Travelmate Business Laptop Intel Core i7-...     450  1,19,990
8  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...      49    49,990
9  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...     146    59,990

Q6: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on Top Quote
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [44]:
driver=webdriver.Chrome()
driver.get('http://www.azquotes.com/')

In [45]:
top_quotes=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quotes.click()

In [46]:
quote=[]
start=0
end=10

for page in range(start,end):
    quote_tag=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for tag in quote_tag:
        quote.append(tag.text)
    next_page=driver.find_element(By.XPATH,'//li[@class="next"]//a')
    next_page.click()
    time.sleep(3)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//li[@class="next"]//a"}
  (Session info: chrome=122.0.6261.112); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF60585AD02+56930]
	(No symbol) [0x00007FF6057CF602]
	(No symbol) [0x00007FF6056842E5]
	(No symbol) [0x00007FF6056C98ED]
	(No symbol) [0x00007FF6056C9A2C]
	(No symbol) [0x00007FF60570A967]
	(No symbol) [0x00007FF6056EBCDF]
	(No symbol) [0x00007FF6057081E2]
	(No symbol) [0x00007FF6056EBA43]
	(No symbol) [0x00007FF6056BD438]
	(No symbol) [0x00007FF6056BE4D1]
	GetHandleVerifier [0x00007FF605BD6F8D+3711213]
	GetHandleVerifier [0x00007FF605C304CD+4077101]
	GetHandleVerifier [0x00007FF605C2865F+4044735]
	GetHandleVerifier [0x00007FF6058F9736+706710]
	(No symbol) [0x00007FF6057DB8DF]
	(No symbol) [0x00007FF6057D6AC4]
	(No symbol) [0x00007FF6057D6C1C]
	(No symbol) [0x00007FF6057C68D4]
	BaseThreadInitThunk [0x00007FFF5C94257D+29]
	RtlUserThreadStart [0x00007FFF5DF2AA58+40]

In [50]:
author=[]
start=0
end=10

for page in range(start,end):
    author_tag=driver.find_elements(By.XPATH,'//div[@class="author"]//a')
    for tag in author_tag:
        author.append(tag.text)
    next_page=driver.find_element(By.XPATH,'//li[@class="next"]//a')
    next_page.click()
    time.sleep(3)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//li[@class="next"]//a"}
  (Session info: chrome=122.0.6261.112); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF60585AD02+56930]
	(No symbol) [0x00007FF6057CF602]
	(No symbol) [0x00007FF6056842E5]
	(No symbol) [0x00007FF6056C98ED]
	(No symbol) [0x00007FF6056C9A2C]
	(No symbol) [0x00007FF60570A967]
	(No symbol) [0x00007FF6056EBCDF]
	(No symbol) [0x00007FF6057081E2]
	(No symbol) [0x00007FF6056EBA43]
	(No symbol) [0x00007FF6056BD438]
	(No symbol) [0x00007FF6056BE4D1]
	GetHandleVerifier [0x00007FF605BD6F8D+3711213]
	GetHandleVerifier [0x00007FF605C304CD+4077101]
	GetHandleVerifier [0x00007FF605C2865F+4044735]
	GetHandleVerifier [0x00007FF6058F9736+706710]
	(No symbol) [0x00007FF6057DB8DF]
	(No symbol) [0x00007FF6057D6AC4]
	(No symbol) [0x00007FF6057D6C1C]
	(No symbol) [0x00007FF6057C68D4]
	BaseThreadInitThunk [0x00007FFF5C94257D+29]
	RtlUserThreadStart [0x00007FFF5DF2AA58+40]

In [53]:
type_of_quotes=[]
start=0
end=10

for page in range(start,end):
    type_tag=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for tag in type_tag:
        type_of_quotes.append(tag.text)
    next_page=driver.find_element(By.XPATH,'//li[@class="next"]//a')
    next_page.click()
    time.sleep(3)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//li[@class="next"]//a"}
  (Session info: chrome=122.0.6261.112); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF60585AD02+56930]
	(No symbol) [0x00007FF6057CF602]
	(No symbol) [0x00007FF6056842E5]
	(No symbol) [0x00007FF6056C98ED]
	(No symbol) [0x00007FF6056C9A2C]
	(No symbol) [0x00007FF60570A967]
	(No symbol) [0x00007FF6056EBCDF]
	(No symbol) [0x00007FF6057081E2]
	(No symbol) [0x00007FF6056EBA43]
	(No symbol) [0x00007FF6056BD438]
	(No symbol) [0x00007FF6056BE4D1]
	GetHandleVerifier [0x00007FF605BD6F8D+3711213]
	GetHandleVerifier [0x00007FF605C304CD+4077101]
	GetHandleVerifier [0x00007FF605C2865F+4044735]
	GetHandleVerifier [0x00007FF6058F9736+706710]
	(No symbol) [0x00007FF6057DB8DF]
	(No symbol) [0x00007FF6057D6AC4]
	(No symbol) [0x00007FF6057D6C1C]
	(No symbol) [0x00007FF6057C68D4]
	BaseThreadInitThunk [0x00007FFF5C94257D+29]
	RtlUserThreadStart [0x00007FFF5DF2AA58+40]

In [54]:
len(quote),len(author),len(type_of_quotes)

(1000, 1000, 1000)

In [57]:
Quote=pd.DataFrame({'Quote':quote,'Author':author,'Type_of_quote':type_of_quotes})
Quote

,Quote,Author,Type_of_quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

Q7: Write a python program to display list of respected former Prime Ministers of India (i.e. Name,
Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/general-knowledge/list-of-
all-prime-ministers-of-india-1473165149-1
scrap the mentioned data and make the DataFrame

In [96]:
driver=webdriver.Chrome()
driver.get('https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1')

In [112]:
table=[]

In [113]:
name_tag=driver.find_elements(By.XPATH,'//div[@class="TableData"]//tbody//tr')
for tag in name_tag:
    result=tag.text.split('\n')
    table.append(result)

In [114]:
Prime_minister=pd.DataFrame(table)

In [115]:
Prime_minister=Prime_minister.drop(0)

In [116]:
Prime_minister=Prime_minister.drop(Prime_minister.index[-1])

In [117]:
Prime_minister = Prime_minister.drop(columns=[Prime_minister.columns[0]])

In [136]:
Prime_minister[6]=Prime_minister[3]+''+Prime_minister[4]

In [138]:
Prime_minister = Prime_minister.drop(columns=[Prime_minister.columns[3]])
Prime_minister = Prime_minister.drop(columns=[Prime_minister.columns[4]])

In [139]:
Prime_minister.columns=['Name','Born-Dead','Term_of_office','Remarks']

In [140]:
Prime_minister

,Name,Born-Dead,Term_of_office,Remarks
1,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
2,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,",First acting PM of India
3,Lal Bahadur Shastri,(1904–1966),9 June 1964 to 11 January 1966,He has given the slogan of 'Jai Jawan Jai Kisa...
4,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966,-
5,Indira Gandhi,(1917–1984),24 January 1966 to 24 March 1977,First female Prime Minister of India
6,Morarji Desai,(1896–1995),24 March 1977 to 28 July 1979,Oldest to become PM (81 years old) and first t...
7,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980,Only PM who did not face the Parliament
8,Indira Gandhi,(1917–1984),14 January 1980 to 31 October 1984,The first lady who served as PM for the second...
9,Rajiv Gandhi,(1944–1991),31 October 1984 to 2 December 1989,Youngest to become PM (40 years old)
10,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990,First PM to step down after a vote of no confi...
11,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991,He belongs to Samajwadi Janata Party
12,P. V. Narasimha Rao,(1921–2004),21 June 1991 to 16 May 1996,First PM from South India
13,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996,PM for shortest tenure
14,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997,He belongs to Janata Dal
15,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998,------
16,Atal Bihari Vajpayee,(1924-2018),19 March 1998 to 22 May 2004,The first non-congress PM who completed a ful...
17,Manmohan Singh,(born 1932),22 May 2004 to 26 May 2014,First Sikh PM
18,Narendra Modi,(born 1950),26 May 2014 - 2019,None
19,Narendra Modi,(born 1950),30 May 2019- Incumbent,None

Q8:Write a python program to display list of respected former Prime Ministers of India (i.e. Name,
Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/general-knowledge/list-of-
all-prime-ministers-of-india-1473165149-1
scrap the mentioned data and make the DataFrame
Q8: Write a python program to display list of 50 Most expensive cars in the world
(i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make the dataframe.

In [38]:
driver=webdriver.Chrome()
driver.get('https://www.motor1.com/')
time.sleep(1)

In [39]:
search=driver.find_element(By.XPATH,'/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/input')
search.send_keys('50 most expensive cars')

In [40]:
search_button=driver.find_element(By.XPATH,'/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search_button.click()

In [41]:
select=driver.find_element(By.XPATH,'/html/body/div[9]/div[9]/div/div[1]/div/div/div[1]/div/div[1]/h3/a')
select.click()

In [69]:
car_names=[]

name_tag=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')[0:50]
for tag in name_tag:
    car_names.append(tag.text)

In [80]:
prc=[]

price_tag=price_tags = driver.find_elements(By.XPATH,"//strong")

for tag in price_tags:
    result=re.findall('\d+.\d \w+',tag.text.strip())
    prc.append(result)

In [82]:
len(car_names),len(prc)

(50, 50)

In [83]:
Car=pd.DataFrame({'car_name':car_names,'Price':prc})
Car

                              car_name           Price
0                  Aston Martin Valour   [1.5 Million]
1                         McLaren Elva   [1.7 Million]
2                          Czinger 21C   [1.7 Million]
3                        Ferrari Monza   [1.7 Million]
4                   Gordon Murray T.33   [1.7 Million]
5                    Koenigsegg Gemera   [1.7 Million]
6                          Zenvo TSR-S   [1.7 Million]
7                   Hennessey Venom F5   [1.8 Million]
8                      Bentley Bacalar   [1.9 Million]
9        Hispano Suiza Carmen Boulogne   [1.9 Million]
10              Bentley Mulliner Batur   [2.0 Million]
11                        Deus Vayanne   [2.0 Million]
12                         SSC Tuatara   [2.0 Million]
13                         Lotus Evija   [2.1 Million]
14                 Aston Martin Vulcan   [2.3 Million]
15                          Delage D12   [2.3 Million]
16                 Ferrari Daytona SP3   [2.3 Million]
17                   McLaren Speedtail   [2.3 Million]
18                        Rimac Nevera   [2.4 Million]
19                       Pagani Utopia   [2.5 Million]
20                Pininfarina Battista   [2.5 Million]
21                  Gordon Murray T.50   [2.6 Million]
22                Lamborghini Countach   [2.6 Million]
23            Mercedes-AMG Project One   [2.7 Million]
24                        Zenvo Aurora   [2.8 Million]
25                 Aston Martin Victor   [3.0 Million]
26         Hennessey Venom F5 Roadster   [3.0 Million]
27                    Koenigsegg Jesko   [3.0 Million]
28               Aston Martin Valkyrie   [3.2 Million]
29           W Motors Lykan Hypersport   [3.4 Million]
30                       McLaren Solus   [3.5 Million]
31                    Lamborghini Sian   [3.6 million]
32                    Koenigsegg CC850   [3.7 Million]
33     Bugatti Chiron Super Sport 300+   [3.9 Million]
34                  Lamborghini Veneno   [4.5 Million]
35                      Bugatti Bolide   [4.7 Million]
36           Pininfarina B95 Speedster   [4.8 Million]
37                     Bugatti Mistral   [5.0 Million]
38                 Pagani Huayra Imola   [5.4 Million]
39                        Bugatti Divo   [5.8 Million]
40                 SP Automotive Chaos   [6.4 Million]
41                    Pagani Codalunga   [7.4 Million]
42                        777 Hypercar   [7.5 Million]
43            Mercedes-Maybach Exelero   [8.0 Million]
44                  Bugatti Centodieci   [9.0 Million]
45             Bugatti Chiron Profilée  [10.8 Million]
46                Rolls-Royce Sweptail  [12.8 Million]
47            Bugatti La Voiture Noire  [13.4 Million]
48              Rolls-Royce Boat Tail*  [28.0 Million]
49  Rolls-Royce La Rose Noire Droptail              []

# Thank you..........